<div class="footer">
  <div class="footer-links">
    <%= link_to '<i class="fab fa-instagram"></i>'.html_safe, "https://www.instagram.com/explore/tags/alcoholfree/?hl=en" %>
    <%= link_to '<i class="fab fa-twitter"></i>'.html_safe, "https://twitter.com/hashtag/noalcohol?lang=en" %>
    <%= link_to '<i class="fab fa-facebook"></i>'.html_safe, "https://www.facebook.com/groups/120791375227140/" %>
    <%= link_to '<i class="fab fa-reddit"></i>'.html_safe, "https://www.reddit.com/r/stopdrinking/" %>
  </div>
  <div class="footer-copyright">
    Fun and taste without alcohol.
  </div>
</div>












