<div class="navbar navbar-expand-sm navbar-light bg-dark navbar-lewagon">
  <%= link_to "/cocktails", class: "navbar-brand" do %>
    <%= image_tag "https://www.maliburumdrinks.com/globalassets/images/cocktail-recipe-images/malibu-lemonade-optimized.png/CocktailHero" %>
  <% end %>

  <div class="text-center">
  <h1>Softails</h1>
  <h5>The database of soft cocktails</h3>
  </div>

  <%= link_to "Add a softail", new_cocktail_path, class: "btn btn-primary" %>
  </div>
</div>
