<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/cocktails", class: "navbar-brand" do %>
    <%= image_tag "https://png2.kisspng.com/sh/3f0597337e146cf1f9aa49ad207f0127/L0KzQYm3UsAzN6V4iZH0aYP2gLBuTflkbZUyjNdqLYPydsW0hQJqdpwyiAluZYSwhLboTfxmdZDzedZuLXnmdbW0lPViNaV3edD8cHH1dbB7TgBvb146eakAMka3Qre6WMdjPF84Tqs5MUK6QIK8Ucc3OmcATKgEOUe4PsH1h5==/kisspng-iced-tea-soft-drink-sweet-tea-lemonade-iced-tea-transparent-png-5a752642f387b4.3690127015176269469975.png" %>
  <% end %>

  <div class="text-center">
  <h1>Softails</h1>
  <h5>The database of soft cocktails</h3>
  </div>

  <%= link_to "Add a softail", new_cocktail_path, class: "btn btn-primary" %>
  </div>
</div>
