// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(52, 58, 64, 1), rgba(0, 0, 0, 0.73)), url("https://cdn-b.william-reed.com/var/wrbm_gb_hospitality/storage/images/publications/hospitality/morningadvertiser.co.uk/article/2019/05/20/adult-soft-drinks-for-pubs/3080330-2-eng-GB/Adult-soft-drinks-for-pubs_wrbm_large.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 100vh;
  background-attachment: fixed;
}
